{
    "extends": "airbnb-base",
    "rules": {
        "semi": "off",
        "indent": ["error", 4],
        "no-console": "off",
        "no-restricted-globals": "off",
        "global-require": "off"
    },
    "env": {
        "node": true,
        "mocha": true
    }
}