 [Unit]
 Description=Pi Lights
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/nodejs /home/pi/pi-lights/src/index.js
 Restart=always

 [Install]
 WantedBy=multi-user.target